<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
  <style>
    .tooltip {
      position: relative;
      display: inline-block;
      border-bottom: 1px dotted black;
    }

    .tooltip .tooltiptext {
      visibility: hidden;
      width: 230px;
      background-color: black;
      color: #fff;
      text-align: center;
      border-radius: 6px;
      padding: 5px 0;

      /* Position the tooltip */
      position: absolute;
      z-index: 1;
    }

    .tooltip:hover .tooltiptext {
      visibility: visible;
    }
  </style>

  <head>
    <h1>Deploy Node</h1>
    {% load static %}
    <link rel='stylesheet' href="{% static 'css/default.css' %}">

    <meta charset="UTF-8">
    <title>User Registration Form</title>
  </head>
  <body>
  <form method="POST" class="post-form" >
    {% csrf_token %}

    <div>
      <div class="tooltip">{{ form.preset_config_file.label }}
        <span class="tooltiptext">{{ form.preset_config_file.help_text }}</span>
      </div>&nbsp;&nbsp;{{ form.preset_config_file }}
    </div>
    <br/>
    <br/>
    <div>
      <div class="tooltip">{{ form.external_config_file.label }}
        <span class="tooltiptext">{{ form.external_config_file.help_text }}</span>
      </div>&nbsp;&nbsp;{{ form.external_config_file }}
    </div>

    <br/>
    <br/>
    <br/>
    <button type="submit" class="save btn btn-default">Deploy Node</button>
    <button type="reset">Reset</button>

    {% if node_reply %}
    <p>
        {{ node_reply }}<br>
    </p>
   {% endif %}
  </form>
  </body>
</html>
