<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
  <head>
    <h1>{{ name }}</h1>
    {% load static %}
    <link rel='stylesheet' href="{% static 'css/default.css' %}">

    <meta charset="UTF-8">
    <title>User Registration Form</title>
  </head>

  <body>

  <form method="POST" class="post-form" >
    {% csrf_token %}
    {{ form.as_p }}


    <br/>

    <input type="hidden" id="page_name" name="page_name" value="{{page_name}}">
    <input type="hidden" id="next_page" name="next_page" value="{{next}}">

    {% for field in fields %}

        {% for print_str in field.print_before %}

            {% if print_str == "&nbsp;" %}
                &nbsp;
            {% elif print_str == "<br/>" %}
                <br/>
            {% else %}
                <text>print_str</text>
            {% endif %}

        {%  endfor %}

        {% if field.type == "button_submit" %}

            <input type ="submit" name = "{{field.key}}" value="{{field.label}}" title="{{field.help}}"/>


        {% elif field.type == "checkbox" %}

            {% if field.label %}
                <label for="{{field.key}}" > {{field.label}}: </label>
            {% endif %}

            <input type="checkbox" id="{{field.key}}" name="{{field.key}}" title="{{field.help}}">


        {% elif field.type == "input_text" %}

            {% if field.label %}
                <label for="{{field.name}}">{{field.label}}:&nbsp;</label>
             {% endif %}
            <input type="text" id="{{field.key}}" name="{{field.key}}" size="{{field.size}}" value="{{field.value}}" title="{{field.help}}">

        {% elif field.type == "selection" %}

             {% if field.label %}
                <text>{{field.label}}:&nbsp;</text>
             {% endif %}


            <select id="{{field.key}}" name="{{field.key}}" title="{{field.help}}">

            {% for next_option in field.options %}

                {% if next_option == "{{field.value}}" %}
                    <option selected value="{{ next_option }}">&nbsp;{{ next_option }}</option>
                {% else %}
                    <option value="{{ next_option }}">&nbsp;{{ next_option }}</option>
                {% endif %}

            {%  endfor %}

            </select>


        {%  endif %}


        {% for print_str in field.print_after %}

            {% if print_str == "&nbsp;" %}
                &nbsp;
            {% elif print_str == "<br/>" %}
                <br/>
            {% else %}
                <text>{{ print_str }} </text>
            {% endif %}

        {%  endfor %}

    {% endfor %}

  </form>

  </body>

</html>
